{% extends "main.html" %}

{% block content %}


<div class="errorcodes">
  <style>
    .errorcodes {
      background-color:black;
      color:red;
    }
  </style>
  {% for message in messages %}
      <h3 style="color:red">{{ message }}</h3>
  {% endfor %}
</div>

<h1>{{user.username}} PROFILE</h1>

    <h3>{{user.first_name}} {{user.last_name}}</h3>
    <h3>{{user.username}}</h3>
    <h3>{{user.email}}</h3>
    <h3>{{user.phone_number}}</h3>
    <h3>{{user.date_of_birth}}</h3>
    <h3>{{user.state}}</h3>
    <h3>{{user.date_joined}}</h3>


{% for book in bookings %}
    <h3>{{book.user}}</h3>
    <h3>{{book.ticket.trip.departure}} to {{book.ticket.trip.destination}}</h3>
    <h3>{{book.ticket.ticket_type.seat_class}}</h3>
    <h3>{{book.ticket.seat}}</h3>
    <h3>{{book.ticket.trip.date}}</h3>
{% endfor %}

 {% endblock content %}

