{% extends "main.html" %}

{% block content %}


<div class="errorcodes">
  <style>
    .errorcodes {
      background-color:black;
      color:red;
    }
  </style>
  {% for message in messages %}
      <h3 style="color:red">{{ message }}</h3>
  {% endfor %}
</div>

  <h1>TICKETS</h1>
  <form action='' method="post">
  {% csrf_token %}

<section class="booking">
  <h1>SELECT CLASS</h1>
  {% for tickettype in tickettypes %}
  <h4>{{tickettype.trip.name}}</h4>
  <h4>{{tickettype.seat_class}}</h4>
  <h5>{{ticket.seat}} {{tickettype.price}}</h5>
      <input type="radio" name="tickettype"  value="{{tickettype.id}}">

      </br>
      </br>
      </hr>
      </br>
      </br>
      {% endfor %}
    </section>
<input type="submit" value="Submit">


{% endblock content %}


