{% extends "main.html" %}
{% load static %}
{% block content %}


<div class="errorcodes">
  <style>
    .errorcodes {
      background-color:black;
      color:red;
    }
  </style>
  {% for message in messages %}
      <h3 style="color:red">{{ message }}</h3>
  {% endfor %}
</div>

  
<section class="confirmation">
 <h1>BOOKING CONFIRMATION</h1>
{% for book in bookingconfirmation %}
    <p><h3>{{book.ticket.trip.departure}}----->{{book.ticket.trip.destination}}</h3></p>
    <p>Departure Time</p>
    <h3>{{book.ticket.trip.departure.departure_time}}</h3>
    <p>Arrival Time</p>
    <h3>{{book.ticket.trip.destination.arrival_time}}</h3>
    <p>Passenger Name</p>
    <h3>{{book.user.username}}</h3>
    <p>Class</p>
    <h3>{{book.ticket.ticket_type.seat_class}}</h3>
    <p>Seat>
    <h3>{{book.ticket.seat}}</h3>
    <p>Date</p>
    <h3>{{book.ticket.ticket_type.seat_class}}</h3>

    
    
    
{% endfor %}

</section>
 {% endblock content %}

