{% extends "main.html" %}
{% load static %}

<head>
  <link rel="stylesheet" src="{% static 'styles/logreg.css' %}">
</head>

{% block content %}


<div class="errorcodes">
  <style>
    .errorcodes {
      background-color:black;
      color:red;
    }
  </style>
  {% for message in messages %}
      <h3 style="color:red">{{ message }}</h3>
  {% endfor %}
</div>

<section>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
      <form action="" method="POST" class="sign-in-form">
        {% csrf_token %}

        <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
          </form>
        </div>
        </div>
      </div>
</section>
  
{% endblock content %}
