
{% extends "main.html" %}

{% load static %}
{% block content %}


<div class="errorcodes">
  <style>
    .errorcodes {
      background-color:black;
      color:red;
    }
  </style>
  {% for message in messages %}
      <h3 style="color:red">{{ message }}</h3>
  {% endfor %}
</div>

<h1>{{user.username}} PROFILE</h1>

<h5>Full Name</h5>
<p>{{user.first_name}} {{user.last_name}}</p>
<h4>Username</h4>
<p>{{user.username}}</p>
<h4>Email</h4>
<p>{{user.email}}</p>
<h4>Phone Number</h4>
<p>{{user.phone_number}}</p>
<h4>Date of Birth</h4>
<p>{{user.date_of_birth}}</p>
<h4>State</h4>
<p>{{user.state}}</p>
<h4>Date Joined</h4>
<p>{{user.date_joined}}</p>
    
   
    



<h3> Previous Bokings </h3>
{% for book in bookings %}
    <h3>{{book}}</h3>

{% endfor %}

 {% endblock content %}

