{% extends "main.html" %}
{% load static %}
{% block content %}


<div class="errorcodes">
  <style>
    .errorcodes {
      background-color:black;
      color:red;
    }
  </style>
  {% for message in messages %}
      <h3 style="color:red">{{ message }}</h3>
  {% endfor %}
</div>

<section class="trips">
  <form action='' method="post">  
    {% csrf_token %}
    <fieldset>
      <h1>SELECT TRIP</h1>
      {% for trip in trips %}
      <div class="selection">
        <p>From</p>
        <p>{{trip.departure}}</p>
        <p>To</p>
        <p>{{trip.destination}}</p>
      </div>
        <p>On</p>
        <p>{{trip.date}}</p>
        <input type="radio" name="trip"  value="{{trip.id}}">
        {% endfor %}
    </fieldset>
    <input type="submit" value="Submit">
  </form>
</section>
  
{% endblock content %}
