.form-control:focus {
    box-shadow: none;
    border-color: #0078D7;
}

.greetings {
    margin-top: 20px;
    padding-top: 100px;
    padding-top: 50px;
}

.container {
    margin-top: 100px;
}

.form {
    font-size: 1.7rem !important;
}

.button {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #0078D7;
    border: 0.2rem solid #0078D7;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.button:hover {
    background: #0078D7;
    color: #f8f9fc;
}

.back:hover {
    color: #682773;
    cursor: pointer
}

a {
    text-decoration: none !important;
}

@media(min-width:765px) {
    .trip {
        height: 120px !important;
    }
}